@import "tailwindcss";
@import 'material-icons/iconfont/material-icons.css';

:root {
  --background: #292929;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-translate-up: fade-translate-up 1s cubic-bezier(0.4, 0, 0.2, 1) both;
  --animate-zoom-in: fade-zoom-in 1s cubic-bezier(0.4, 0, 0.2, 1) both;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #292929;
    --foreground: #ededed;
  }
}

@layer base {
  h1 {
    font-size: theme(fontSize.5xl);
  }
  h2 {
    font-size: theme(fontSize.3xl);
  }

  h3 {
    font-size: theme(fontSize.3xl);
  }
  @media (min-width: 1024px) {
    h1 {
      font-size: theme(fontSize.6xl);
    }
    h2 {
      font-size: theme(fontSize.5xl);
    }
    h3 {
      font-size: theme(fontSize.4xl);
    }
  }
  @media (min-width: 2048px) {
    h1 {
      font-size: theme(fontSize.7xl);
    }
    h2 {
      font-size: theme(fontSize.6xl);
    }
    
    h3 {
      font-size: theme(fontSize.5xl);
    }
  }
}


@keyframes fade-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.85);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-translate-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-translate-left {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes gradient-x {
  0% {
    background-position-x: 200%;
  }
  100% {
    background-position-x: 0%;
  }
}

.animate-fade-translate-left {
  animation: fade-translate-left 4s cubic-bezier(0.4, 0, 0.2, 1) both;
}

.animate-gradient-x {
  /* background-image: linear-gradient(90deg, #14b8a6, #81ede1, #bde4e0, #14b8a6); */
  background-image: linear-gradient(90deg, #14b8a6, #3b82f6,  #14b8a6);
  background-size: 200% 100%;
  background-repeat: repeat;
  animation: gradient-x 3s linear infinite;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
